<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>078b42838824d2068223b0f10c4f2c4c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Carfie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.662247677965-oale1oatf085tukrk966n7110ubtpo1r</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb424475308089488</string>
				<string>ak424475308089488</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>424475308089488</string>
	<key>FacebookDisplayName</key>
	<string>espyAir</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access camera for profile Image </string>
	<key>NSContactsUsageDescription</key>
	<string>Allow us to read contacts to find your friends</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allows Drivers to easily find your current location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allows Drivers to easily find your current location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allows Drivers to easily find your current location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access library to save the Image</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access gallery for profile Image </string>
	<key>NSSiriUsageDescription</key>
	<string>$(PRODUCT_DISPLAY_NAME) would like to access siri for voice booking.</string>
	<key>UIAppFonts</key>
	<array>
		<string>clanpro_book</string>
		<string>clanpro_medium</string>
		<string>clanpro_narrnews</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>User</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
